body {
  background: $bgcolor;
  color: $txtcolor;
  font-size: $defaultfont;
  font-family: $fontstyle;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto auto auto auto auto auto;
  grid-template-areas: "header"
                       "figure1"
                       "figure2"
                       "figure3"
                       "figure4"
                       "figure5"
                       "figure6"
                       "figure7"
                       "figure8"
                       "figure9";
}


h1 {
  font-family: $fontstyle;
  font-size: 36pt;
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: #E8D538;
  text-decoration: none;
}
#{$a-tags-hover} {
  color: #0DC4FF;
}


@media only screen and (min-width: 800px) {
  body {
    background: $bgcolor;
    color: $txtcolor;
    font-size: $defaultfont;
    font-family: $fontstyle;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto auto auto auto;
    grid-template-areas: "header header "
                         "figure1 figure2"
                         "figure3 figure4"
                         "figure5 figure6"
                         "figure7 figure8"
                         "figure9 .";
  }
}

@media only screen and (min-width: 1225px) {
  body {
    background: $bgcolor;
    color: $txtcolor;
    font-size: $defaultfont;
    font-family: $fontstyle;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto auto auto auto;
    grid-template-areas: ". header ."
                         "figure1 figure2 figure3"
                         "figure4 figure5 figure6"
                         "figure7 figure8 figure9";
  }
}
figcaption {
  font-family: $fontstyle;
  font-size:  $projectfont;
}
