html {
  text-align: center;
}

header {
  grid-area: header;
}

.figure1 {
  grid-area: figure1;
}

.figure2 {
  grid-area: figure2;
}

.figure3 {
  grid-area: figure3;
}

.figure4 {
  grid-area: figure4;
}

.figure5 {
  grid-area: figure5;
}

.figure6 {
  grid-area: figure6;
}

.figure7 {
  grid-area: figure7;
}

.figure8 {
  grid-area: figure8;
}

.figure9 {
  grid-area: figure9;
}
