body {
  background: $bgcolor;
  color: $txtcolor;
  font-size: $defaultfont;
}

section {
  p {
    @include box;
  }
}

nav {
  text-align: center;

  ul {
    li {
      list-style: none;
      display: inline-block;
      padding-right: 20px;
      @include box;
      a {
        @include link;
      }// a
      a:hover {
        background: black;
        color: white;
      } // hover
    } // li
  } // ul
} // end nav
