@mixin box {
  background: white;
  border: 2px solid black;
  padding: 1em;
  @include roundy;
}

@mixin roundy {
  border-radius: $mooth;
}

@mixin link {
  font-family: monospace;
  font-size: 4em;
  text-decoration: none;
  color: black;
}
